<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	
-->
<html>
	<head>
		<title>Survey Station</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css')}}" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="logo">Answer Surveys</a>
					<a href="../home/{{data[0].userid}}">Home</a>
					<a href="#"> {{data[0].emailaddress}}</a>
				</div>
			</header>

		<!-- Banner -->
		<section id="banner">
			<p>
			<br/>
			</p>
		</section>
		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article><h2> Submitted Answers </h2></article>

						{% if data %}
						{% for item in data[2]%}
						<article>
							<header>
								<h3>{{item[0].question}}<br /></h3>
							</header>
							<footer>
								<ul>
								{% for answer in item[1] %}
								<li> {{answer.answer}}</li>

								{% endfor %}
								</ul>
							</footer>
						</article>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</section>
		
		<!-- Scripts -->
			<script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/util.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>

	</body>
</html>
