<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	
-->
<html>
	<head>
		<title>Survey Station</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css')}}" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="logo">Your Surveys</a>
					<a href="#"> {{data[0].emailaddress}}</a>
				</div>
			</header>

		<!-- Banner -->
		<section id="banner">
			<p>
			<br/>
			</p>
		</section>
		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						
						<article>
							<header>
								<h3>Create a Survey<br /></h3>
							</header>
							<p>After completion this will be available in the survey view page.</p>
							<footer>
								<a href="/sedit/{{data[0].userid}}" class="button special">&nbsp; &nbsp;  Create  &nbsp; &nbsp;</a>
							</footer>
						</article>
						
						<article>
							<header>
								<h3>View Your Surveys<br /></h3>
							</header>
							<p>See the list of previously created surveys, and edit them.</p>
							<footer>
								<a href="/user/{{data[0].userid}}" class="button special">&nbsp; &nbsp;  View  &nbsp; &nbsp;</a>
							</footer>
						</article>

						<article>
							<header>
								<h3>Answer a Survey<br /></h3>
							</header>
							<p>Select from the list of publicly available surveys or enter a code to edit a private survey.</p>
							<footer>
								<a href="/answerhome/{{data[0].userid}}" class="button special">&nbsp; &nbsp;  Answer  &nbsp; &nbsp;</a>
							</footer>
						</article>

					</div>
				</div>
			</section>
		
		<!-- Scripts -->
			<script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/util.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>

	</body>
</html>
