<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	
-->
<html>
	<head>
		<title>Survey Station</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css')}}" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="https://www.degenaro.tk/Survey" class="logo"> Home </a>
				</div>
			</header>

		<!-- Banner -->
		<section id="banner">
			<p>
			<br/>
			</p>
		</section>
		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">

						<article>
							<header>
								<h3>Answer a Private Survey<br /></h3>
							</header>
							<p>Enter your survey code here</p>
							<footer>
							<form action="https://degenaro.tk:5000/privredirectpub" method="post">
								<input id="privcode" name="privcode" type="text" value="" placeholder="ABCD1234">
								<input type="submit" value="Answer">
							</footer>
						</article>
						<br><hr>
					<div class="flex flex-3">

						
						<article><h2> Public Surveys </h2></article>



						{% if data %}
						{% for item in data[0]%}
						<article>
							<header>
								<h3>{{item.surveyname}}<br /></h3>
							</header>
							<p>{{item.description}}</p>
							<footer>
								<a href="/sredirectpub/{{item.surveyid}}" class="button special">&nbsp; &nbsp; Answer  &nbsp; &nbsp;</a>
							
							</footer>
						</article>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</section>
		
		<!-- Scripts -->
			<script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/util.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>

	</body>
</html>
