<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	
-->
<html>
	<head>
		<title>Survey Station</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css')}}" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="logo">{{data[1].surveyname}}</a>
					<a href="#">{{data[1].description}}</a>
					<a href="../home/{{data[0].userid}}">Home</a>
					<a href="#"> {{data[0].emailaddress}}</a>
				</div>
			</header>

		<!-- Banner -->
		<section id="banner">
			<p>
			<br/>
			</p>
		</section>
		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
					<form action="https://degenaro.tk:5000/asubmit" method = "post">
						{% if data %}
						{% set count = [0] %}
						{% for item in data[2]%}
						<article>
							<header>
								<h3>{{item.question}}<br /></h3>
							</header>
							<footer>
								<textarea id={{count[0]}} name={{count[0]}} rows = "5" cols = "50"></textarea>	
								{% if count.append(count.pop() + 1) %}{% endif %}
							</footer>
						</article>
						{% endfor %}
						<input type="hidden" value="{{data[1].surveyid}}" name="surveyid">
						<input type="hidden" value="{{count[0]}}" name="qnum">
						<input type="hidden" value="{{data[0].userid}}" name="userid">
						<input type="submit" value="submit">
						{% endif %}
					</div>
				</div>
			</section>
		
		<!-- Scripts -->
			<script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/util.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>

	</body>
</html>
